header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 88;
  overflow: hidden;

  nav {
    display: flex;
    width: auto;
    padding: 0 32px 0 64px;
    position: relative;
    align-content: center;
    justify-content: space-between;

    .nav-esthetic {
      position: absolute;
      content: "";
      display: block;
      position: absolute;
      left: -25px;
      background-color: #0071c6;
      -webkit-transform: skew(30deg);
      -moz-transform: skew(30deg);
      -o-transform: skew(30deg);
      height: 100%;
      width: 15px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: -20px;
        background-color: #0071c6;
        height: 100%;
        width: 10px;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 120%;
      height: 100%;
      right: -20%;
      left: 0;
      background-color: #0071c6;
      -webkit-transform: skew(30deg);
      -moz-transform: skew(30deg);
      -o-transform: skew(30deg);
    }

    .chakra-text {
      position: relative;
      z-index: 2;
    }

    .chakra-button__group {
      display: flex;
      align-items: center;
      padding-left: 48px;
    }
  }
}

.header-title {
    font-family: "Goldman", sans-serif;
    font-size: 48px;
    color: #0071c6;
    padding: 0 32px;
    line-height: 72px;
}

.drawer-close {
    z-index: 99;
    top: 16px;
    right: 24px;
}

.drawer-title {
    .header-title {
        font-family: "Goldman", sans-serif;
        font-size: 32px;
        color: #0071c6;
        padding: 0;
        line-height: 32px;
    }
}
.drawer-body {
    padding-top: 120px;

    p {
        margin-bottom: 12px;
    }
}

.hamby {
    display: none
}

.material-symbols-outlined.icon-menu {
    color: white;
    font-size: 32px;
}

@media screen and (max-width: 1280px) {
    header nav {
        > div:not(.nav-esthetic) {
            display: none;
        }
        .hamby {
            display: flex;
        }

        padding: 0 24px 0 32px;
    }
}

@media screen and (max-width: 680px) {
    .drawer-body {
        p {
            font-size: 40px;
        }
    }

    .chakra-modal__footer {
        .chakra-button__group {
            display: flex;
            flex-flow: column;
                width: 100%;

            .chakra-button {
                width: 100%;
                margin: 10px 0;
                font-size: 6vw;
                height: 12vw;
            }
        }
    }
}