.sidenav {
  .sidenav-menu {
    display: flex;
    flex-flow: column;
  }

  .title-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header-title {
    font-family: "Goldman", sans-serif;
    font-size: 48px;
    color: #0071c6;
    line-height: 72px;
  }
}

.sign-out {
  margin: auto 16px 16px;
}

div.desktop-sidenav {
  display: flex;
  flex-flow: column;
}

div.sidenav-menu {
  display: flex;
  flex-flow: column;

  .header-title {
    padding-left: 16px;
  }
}

.chakra-slide.chakra-modal__content {
  max-width: 350px;
  display: none;
}

@media screen and (max-width: 680px) {
  div.desktop-sidenav {
    display: none
  }
  .chakra-slide.chakra-modal__content {
    display: flex;
  }
}