.inputs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .input-box {
    &.w-50 {
      width: 48%;
    }
  }
}

.inputs-wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;

  .input-box {
    &.w-50 {
      width: 96%;
    }
  }
}

.multiselect-container {
  padding-top: 16px;
}
.isAdded {
  opacity: 0.3;
}
