@import '~rc-slider/assets/index.css';

.rc-slider-track {
  background-color: #2E77AE;
}

.rc-slider-dot-active {
  border-color: #2E77AE;
}

.rc-slider-handle {
  border-color: #2E77AE;
}