@import "~rc-slider/assets/index.css";

.rc-slider-track {
  background-color: #2e77ae;
}

.rc-slider-dot-active {
  border-color: #2e77ae;
}

.rc-slider-handle {
  border-color: #2e77ae;
}
