.job-post-wrapper {
    > div {
        width: 23%;
        margin-bottom: 3%;
    height: auto;

        > div {
            width: 100%;
        }
    }

    .chakra-card {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3),0 2px 8px 0 rgba(0, 0, 0, 0.2);
    }
}
.modal-heading {
    padding: 0;
}

.modalCard {
  min-width: 550px;
}

.job-post-description h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.chakra-modal__content {
    max-width: 60%;
    width: fit-content;
}

.create-job-post {
 > div {
  min-width: 650px;
  max-width: 800px;
  padding: 64px;
 }
}

@media screen and (min-width: 2000px) {
    .job-post-wrapper {
        > div {
            width: 19%;
            margin-bottom: 2%;
        }
    }
}

@media screen and (max-width: 1600px) {
    .job-post-wrapper {
        > div {
            width: 31%;
        }
    }
}

@media screen and (max-width: 1280px) {
    .job-post-wrapper {
        > div {
            width: 48%;
        margin-bottom: 5%;

            h2 {
                padding: 0;
            }
        }
    }

    .create-job-post {
     > div {
      min-width: unset;
      max-width: unset;
      width: 96%;
      padding: 32px;
     }
    }
    .chakra-modal__content .chakra-heading {
      padding: 0;
    }
}


@media screen and (max-width: 800px) {
    .job-post-wrapper {
        > div {
            width: 100%;
        }
    }

    .chakra-modal__content {
        max-width: 94%;
        width: 94%;
    }

    .inputs-wrapper {
      flex-wrap: wrap;
      > .input-box.w-50 {
        width: 100%;
      }
    }

    .job-post-description h3 {
    font-size: 18px;
    }

  .modalCard {
    min-width: unset;
  }
}