.experience-wrapper {
  width: 100%;
  position: relative;
  padding-top: 12px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--chakra-colors-gray-100);
    padding-bottom: 32px;
  }

  .remove-btn {
    border-color: transparent;
    position: absolute;
    top: 8px;
    right: 0;
  }
}

.nxt-prev-btn {
  bottom: 45%;

  &.prev-btn {
    left: calc(50% + 330px);
  }

  &.next-btn {
    right: calc(50% + 330px);
  }
}

@media screen and (max-width: 1080px) {
  article.article {
    padding: 64px 64px;
  }
  .nxt-prev-btn {
    bottom: 75%;

    &.prev-btn {
      left: calc(50% + 280px);
    }

    &.next-btn {
      right: calc(50% + 280px);
    }
  }
  #card {
    width: 100vw;

    .backgrounds,
    .content {
      width: 600px;
      overflow: hidden;

      .background {
        width: 600px;
      }

      .article {
        width: 600px;
      }
    }
  }

  .map-container {
    display: flex;
    flex-flow: column;

    > div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 680px) {
  article.article {
    padding: 32px 32px;
  }
  .nxt-prev-btn {
    bottom: 75%;

    &.prev-btn {
      left: calc(50% + 180px);
    }

    &.next-btn {
      right: calc(50% + 180px);
    }
  }
  #card {
    width: 100vw;

    .backgrounds,
    .content {
      width: 400px;
      overflow: hidden;

      .background {
        width: 400px;
      }

      .article {
        width: 400px;
      }
    }
  }
}