* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 960px){
  h2.chakra-heading {
    padding-left: 0;
    padding-right: 0;
    font-size: 32px;
  }
}
